@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<head>
    <link rel="stylesheet" href="~/Content/aboutme.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500italic,500,300,300italic,400italic' rel='stylesheet' type='text/css'>
</head>

<p>This is a web application that displays information about the most influential programmers of all time in the history of programming.</p>

<p>It displays the information that is stored in a backend database. The web application was built using Microsoft Visual Studio 2015 with ASP.NET framework and MVC designing model. It was built to showcase the scripts and skills that I have learnt.</p>
<p>At the time being, the user is allowed to 
    <ul class="aboutmelist">
        <li>Add a new programmer.</li>
        <li>Edit information about a certain programmer.</li>
        <li>Delete information about the programmer.</li>
        <li>Search functionality to search for a specific things about an individual.</li>
        
        
   </ul>
</p>
<p> Future things that could be added.</p>
    <ul class="aboutmelist">
    <li>Sort the list in either Ascending or Descending order according to the programmer's name.</li>
    <li>Register accounts for either the administrator or a casual user account.</li>
    <li>Likes/Dislikes button so the list can be arranged in the order of who has the most likes, vice versa.</li>
    <li>Add a comment section so the visitors can leave a comment.</li>
</ul>